@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-dark: #145174;
  --blue-medium: #abcfe8;
  --blue-light: #e0f2ff;
  --green-dark: #628d65;
  --green-medium: #a6caa8;
  --green-light: #ecffed;
  --pink-dark: #542d42;
  --pink-medium: #b85974;
  --pink-light: #f6adc2;
  --yelllow-light: #fffcef;
  --almost-white: #fffcef;
  --almost-black: #1d1d1d;
  --background-color: #24313e;
  --foreground-rgb: 255, 255, 255;
}
.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-dm {
  font-family: var(--font-dm-serif), serif;
}

.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}

.font-lexend {
  font-family: var(--font-lexend), sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

/* Petals */
.petal {
  @apply absolute;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  60% {
    transform: translateY(70vh) translateX(10px) rotate(90deg);
    opacity: 1;
  }
  90% {
    transform: translateY(120vh) rotate(160deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(130vh) rotate(180deg);
    opacity: 0;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
